body {
  display: flex;
  margin: 0px;
  flex-direction: column;
  height: 100vh;
}

#container {
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.content-a {
  background-color: orangered;
}

.content-b {
  background-color: orange;
}

.content-c {
  background-color: yellow;
}

header {
  margin: 0px;
  background-color: lightgray;
}

footer {
  margin: 0px;
  background-color: lightgray;
}

/* Styles for laptop. */
@media only screen and (min-width: 801px) {
  #container {
    height: 80vh;
  }


  header {
    height: 10vh;
    width: 100vw;
  }
  
  footer {
    height: 10vh;
    width: 100vw;
  }


  .content-a {
    padding: 0.5vh;
    height: 38vh;
    width: 69.5vw;
  }
  
  .content-b {
    padding: 0.5vh;
    height: 38vh;
    width: 69.5vw;
    padding: auto;
  }
  
  .content-c {
    padding: 0.5vh;
    height: 77vh;
    width: 29.7vw;
  }
}




/* Styles for tablet. */
@media only screen and (max-width: 800px)and (min-width:481px) {
  #container {
    height: 89vh;
  }

  header {
    height: 5vh;
    width: 100vw;
    
  }
  
  footer {
    height: 5vh;
    width: 100vw;
  }

  .content-a {
    padding: 0.5vh;
    height: 43vh;
    width: 49vw;
  }
  
  .content-b {
    padding: 0.5vh;
    height: 43vh;
    width: 49vw;
    padding: auto;
  }
  
  .content-c {
    padding: 0.5vh;
    height: 87vh;
    width: 49vw;
  }
}




/* Styles for mobile. */
@media only screen and (max-width: 480px){
  header {
    height: 5vh;
    width: 100vw;
  }
  
  footer {
    height: 5vh;
    width: 100vw;
  }


  .content-a {
    padding: 0.5vh;
    height:28vh;
    width: 98vw;
  }
  
  .content-b {
    padding: 0.5vh;
    height: 28vh;
    width: 98vw;
  }
  
  .content-c {
    padding: 0.5vh;
    height: 28vh;
    width: 98vw;
  }
} 