span{
  margin: 1vh 0px 0px 1vh;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100vh;
}

#container {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.content-a {
  background-color: #7ac920;
}

.content-b {
  background-color: green;
}

.content-c{
  background-color: yellow;
}

header {
  margin: 0px;
  background-color: lightgray;
}

footer {
  margin: 0px;
  background-color: lightgray;
}

/* Styles for laptop. */
@media only screen and (min-width: 801px) {
  #container {
    height: 80vh;
    display: flex;
    flex-direction: row;
  }

  header {
    height: 10vh;
    width: 100vw;
  }
  
  footer {
    margin-top: 1vh;
    height: 10vh;
    width: 100vw;
  }


  .content-a {
    height: 100%;
    flex:2;
    }
  
  .content-b {
    order: -1;
    height: 100%;
    padding: auto;
    flex:1;
  }
  
  .content-c {
    height: 100%;
    width: 29.5vw;
    flex:1;
  }
}


/* 
/* Styles for tablet. */
@media only screen and (max-width: 800px)and (min-width:481px) {
  #container {
    height: 88vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: end;
  }

  header {
    height: 5vh;
    width: 100vw;
    
  }
  
  footer {
    height: 5vh;
    width: 100vw;
  }

  .content-a {
    width: 100%;
    height: 50%;
    order:1;
  }
  
  .content-b {
    width: 50%;
    height: 50%;
    padding: auto;
    order:3;
  }
  
  .content-c {
    width: 50%;
    height: 50%;
    order:2;
  }
}




/* Styles for mobile. */
@media only screen and (max-width: 480px){
  header {
    margin-bottom: .5vh;
    height: 5vh;
    width: 100vw;
  }
  #container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    height: 88vh;
  }
  
  footer {
    margin-top: .5vh;
    height: 5vh;
    width: 100vw;
  }


  .content-a {
    width: 100%;
    flex: 1.5;
  }
  
  .content-b {
    width: 100%;
    flex: .9;
  }
  
  .content-c {
    width: 100%;
    flex: 1;
  }
} 